<style lang="scss">
  main {
    place-items: center;
    margin-top: 5rem;
    box-sizing: border-box !important;

    h1 {
      font-family: "Baloo Tammudu 2", serif;
      font-size: 3rem;
      color: #424866;
      margin-bottom: 0;
      height: fit-content;
      width: 50vw;

      @media (max-width: 768px) {
        width: calc(100vw - 32px);
      }
    }

    .notas-container {
      display: flex;
      width: 50vw;
      background-color: #ffffff !important;
      border-radius: 0.5rem;
      box-shadow: 0px 4px 0.5rem rgba(0, 0, 0, 0.15);
      height: 50vh;

      @media (max-width: 768px) {
        width: calc(100vw - 32px);
      }

      .lista-notas {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-right: 1px solid #a1a0a3;
        max-height: 100%;
        width: 40%;

        > div {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          overflow-y: auto;
          padding-right: 8px;
          width: calc(100% + 8px);

          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 3px;
          }

          &::-webkit-scrollbar-thumb {
            background: #a1a0a3;
            border-radius: 3px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          .delete-icon {
            position: relative;
            cursor: pointer;

            .tooltip {
              visibility: hidden;
              width: fit-content;
              background-color: #555;
              color: #fff;
              text-align: center;
              border-radius: 4px;
              padding: 4px 8px;
              position: absolute;
              z-index: 1;
              bottom: 0;
              left: -16px;
              margin-left: -40px;
              opacity: 0;
              transition: opacity 0.3s ease-in-out;
              font-size: 0.75rem;
              font-family: "DM Sans", serif;

              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent #555;
              }
            }

            &:hover .tooltip {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        .input-procurar-nota {
          border-radius: 4px;
          height: 2.25rem;
          border: 1px solid #a1a0a3;
          outline: none;
          transition: border 0.3s ease-in-out;
          padding: 0.5rem;

          &:focus {
            border: 1px solid #fb9778;
            outline: none;
          }
        }
      }

      .notas {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .nota {
          border-radius: 0.5rem;
          padding: 0.5rem;
          box-sizing: border-box;
          cursor: pointer;
          transition: background-color 0.1s ease-in-out, transform 0.1s ease-in;
          transform: scale(0.95);

          p {
            font-weight: 500;
          }

          span {
            cursor: pointer;
            width: 32px;
            height: 32px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              color: #ffffff;
              background-color: #fb9778;

              border-radius: 50%;
            }
          }
        }

        .active {
          transform: scale(1);
          transition: all 0.1s ease-in 0s;
        }

        .data {
          font-size: 0.75rem;
        }
      }

      .nota-aviso {
        background-color: #fff0eb;
        color: #fb9e82;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        height: 100%;
        align-items: center;
      }

      .edicao-notas {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .adicionar-nota {
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #a1a0a3;
          align-items: center;

          span {
            cursor: pointer;

            &:hover {
              color: #ffffff;
              background-color: #fb9778;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          button {
            background-color: #fb9778;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            border: none;
            color: #ffffff;
            font-family: "DM Sans", serif;
            font-size: 1rem;
          }
        }

        .editar-nota {
          padding: 1rem;
          display: flex;
          flex: 1;
          flex-direction: column;
          gap: 1rem;
          background-color: #f5f5f5;

          .campo-notas {
            width: 100%;
            border-radius: 0.25rem;
            outline: none;
            resize: none;
            border: 1px solid #a1a0a3;
            padding: 0.5rem;

            &:focus {
              border: 1px solid #fb9778;
            }
          }

          .cor {
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }
</style>

<main class="main">
  <h1>notas</h1>

  <section class="notas-container">
    <div class="lista-notas" *ngIf="showNotas" @fadeToggle>
      <input
        placeholder="Procurar nota"
        class="input-procurar-nota"
        [(ngModel)]="filtroNota"
      />
      <h6 class="mt-2">Todas as notas</h6>

      <div>
        <div class="notas" *ngIf="notasFiltradas">
          <div
            *ngFor="let nota of notasFiltradas; let i = index"
            [ngStyle]="{ 'background-color': nota.cor }"
            [ngClass]="{ active: i === indexNotaEditada }"
            class="nota"
            (click)="editarNota(i)"
          >
            <p>
              {{
                nota.descricao.length > 18
                  ? nota.descricao.slice(0, 18) + "..."
                  : nota.descricao
              }}
            </p>

            <div class="d-flex justify-content-between align-items-end">
              <p class="data">{{ nota.data }}</p>
              <span
                class="material-symbols-outlined delete-icon"
                (click)="excluirNota(i)"
              >
                delete
                <span class="tooltip">Excluir</span>
              </span>
            </div>
          </div>
        </div>

        <div *ngIf="notasFiltradas.length === 0" class="nota-aviso">
          Não há nenhuma nota.
        </div>
      </div>
    </div>

    <div class="edicao-notas">
      <div class="adicionar-nota">
        <span class="material-symbols-outlined" (click)="toggleListarNotas()">
          {{
            showNotas
              ? "keyboard_double_arrow_left"
              : "keyboard_double_arrow_right"
          }}
        </span>

        <button class="button-add-nota" (click)="adicionarNota()">
          Adicionar nota
        </button>
      </div>

      <div class="editar-nota" *ngIf="notaEditada">
        <h6>Editar nota</h6>
        <textarea
          [(ngModel)]="notaEditada.descricao"
          (ngModelChange)="updateDescricaoNota()"
          class="campo-notas"
          rows="8"
          placeholder="Escreva aqui"
        ></textarea>

        <h6>Mudar cor da nota</h6>

        <div class="d-flex gap-2">
          <span
            *ngFor="let cor of CORES; let i = index"
            class="cor"
            [ngStyle]="{ 'background-color': cor }"
            (click)="updateCorNota(i)"
          >
          </span>
        </div>
      </div>
      <div
        *ngIf="notaEditada === null"
        class="nota-aviso"
        [ngStyle]="{ 'background-color': '#f5f5f5' }"
      >
        Nenhuma nota selecionada
      </div>
    </div>
  </section>
</main>

<router-outlet />
