@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

html {
  height: 90vh !important;
}

body {
  font-family: "DM Sans", serif;
  box-sizing: border-box !important;
  background-color: #f8f6f6 !important;
  margin: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.material-symbols-outlined {
  line-height: inherit;
  color: #2e2e2e;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
